<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
    <div class="row">
      <div class="col-md-5">
        <form id="form">
          <div class="form-group">
            <label for="exampleInputEmail1">标题</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="title">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">内容</label>
            <textarea class="form-control" name="content" id="content" cols="30" rows="10"></textarea>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </section>
  {{include '../_includes/footer.html'}}
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    $('#form').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
      console.log(formData)
      $.post('/topic/create', formData, (result) => {
        console.log(result)
        if (result.code === 500) {
          return window.alert = result.message
        }
        if (result.code === 200) {
          window.location.href = '/'
        }
      })
    })
  </script>
</body>

</html>