<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/">
        <img src="/public/img/logo3.png" alt="">
      </a>
      <h1>用户注册</h1>
    </div>
    <form id="signup_form">
      <div class="form-group">
        <label for="email">邮箱</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
        <label for="nickname">昵称</label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname">
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success btn-block">注册</button>
    </form>
    <div class="message">
      <p>已有账号?
        <a href="/login">点击登录</a>.</p>
    </div>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script>
    // 0. 监听表单 submit 提交事件
    // 0.1 给 submit 按钮绑定 submit 事件
    $('#signup_form').on('submit', function (e) {
      // 1.1 阻止表单默认提交事件
      e.preventDefault()
      // 1.2 获取表单数据
      const formData = $('#signup_form').serialize()
      console.log(formData)
      // 2. 发送 ajax 异步请求
      $.ajax({
        url: '/signup',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (result) {
          // 3. 测试，等待返回结果
          console.log(result);
          // 4. 根据返回结果进行处理 
          switch (result.code) {
            case 200:
              window.location.href = '/';
              break;
            case 1:
              window.alert('邮箱已存在')
              break;
            case 2:
              window.alert('昵称已存在')
              break;
            case 500:
              window.alert('服务器内部错误，请稍后重试')
              break;
          }
        }
      })

    })
  </script>
</body>

</html>